#entryToggle, #rollupToggle, #moreDatesToggle {
  color: purple;
  cursor: pointer;
}
h4 {
  font-weight: 600;
  margin-bottom: 0;
  margin-top: .3em;
}
h3{
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
}
.icon {
  color: darkred;
  cursor: pointer;
}
.stop {
  line-height: 12px;
  display: inline-block;
  font-size: 30px;
  margin-left: -5px;
}
.tools {
  line-height: 12px;
  font-size: 24px;
}
.info {
  vertical-align: bottom;
}
.split {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
}
.bigger {
  font-size: 20px;
  line-height: 12px;
  vertical-align: bottom;
}
.box {
  font-size: 30px;
  cursor: crosshair;
  color: #111;
  vertical-align: middle;
  margin-right: -10px;
  text-shadow: 1px 1px 0px #111, -1px -1px 0px #111,-1px 1px 0px #111,1px -1px 0px #111;
}
.blank {
  text-shadow: 1px 1px 0px #111, -1px -1px 0px #111,-1px 1px 0px #111,1px -1px 0px #111;
  color: white;
  opacity: .1;
}
.rank_10 {
  opacity: .1;
}
.rank_20 {
  opacity: .2;
}
.rank_30 {
  opacity: .3;
}
.rank_40 {
  opacity: .4;
}
.rank_50 {
  opacity: .5;
}
.rank_60 {
  opacity: .6;
}
.rank_70 {
  opacity: .7;
}
.rank_80 {
  opacity: .8;
}
.rank_90 {
  opacity: .9;
}
.rank_100 {
  opacity: 1;
}
.week {
  margin-bottom: -22px;
}
.bullet {
  font-size: 10px;
  margin-right: -4px;
  margin-left: 1px;
  opacity: .2;
}